# Ignore Node.js related files and folders
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Ignore environment files for the server
server/.env

# Ignore environment files for the client (if you have any)
# client/.env

# Ignore build and output files
build/
dist/
out/

# Ignore editor and IDE files (customize this based on your preference)
.vscode/
.idea/
*.sublime-*

# Ignore OS and editor temporary files
.DS_Store
Thumbs.db














